In [9]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [30]:
score_df = pd.DataFrame([[1,50,80,70,'boy',1],[2,60,45,50,'boy',2],[3,98,43,55,'boy',1],[4,70,69,89,'boy',2],[5,56,79,60,'girl',1],[6,60,68,55,'girl',2],[7,45,70,77,'girl',1],[8,55,77,76,'girl',2],[9,25,57,60,'girl',1],[10,88,40,43,'girl',3],[11,25,60,45,'boy',3],[12,80,60,23,'boy',3],[13,20,90,66,'girl',3],[14,50,50,50,'girl',3],[15,89,67,77,'girl',3]],columns=['student_id','math_score','english_score','chinese_score','sex','class'])
score_df.head()

   student_id  math_score  english_score  chinese_score   sex  class
0           1          50             80             70   boy      1
1           2          60             45             50   boy      2
2           3          98             43             55   boy      1
3           4          70             69             89   boy      2
4           5          56             79             60  girl      1

In [ ]:
找出全年級各科成績最高分與最低分？

In [36]:
score_df[['math_score','english_score','chinese_score']].max(),

(math_score       98
 english_score    90
 chinese_score    89
 dtype: int64,)

In [37]:
score_df[['math_score','english_score','chinese_score']].min(),

(math_score       20
 english_score    40
 chinese_score    23
 dtype: int64,)

In [ ]:
找出數學班平均最高的班級？

In [33]:
score_df.groupby('class')['math_score'].mean()

class
1    54.800000
2    61.250000
3    58.666667
Name: math_score, dtype: float64

In [ ]:
分析全校女生與男生國文平均差幾分？

In [42]:
A = score_df.groupby('sex')['chinese_score'].mean()
A

sex
boy     55.333333
girl    62.666667
Name: chinese_score, dtype: float64

In [47]:
A.loc['boy']-A['girl']

-7.333333333333329